@import "../../../styles/helpers.scss";

.golfCommunitySection__Wrapper {
  background: $white-100;
  position: relative;

  @include tabletScreen {
    overflow: hidden;
  }

  .GolfCommunitySection__container {
    max-width: 1075px;
    width: 100%;
    margin: 0 auto;
    padding-top: 175px;
    padding-bottom: 515px;
    text-align: center;

    @include largeDisplayScreen {
      padding-top: 155px;
      padding-bottom: 495px;
    }

    @include laptopScreen {
      max-width: 900px;
      padding-top: 125px;
      padding-bottom: 400px;
    }

    @include miniLaptopScreen {
      max-width: 800px;
      padding-top: 120px;
      padding-bottom: 350px;
    }

    @include tabletScreen {
      padding-top: 100px;
      padding-bottom: 300px;
    }

    @include miniTabletScreen {
      max-width: 480px;
    }

    @include mobileScreen {
      max-width: 355px;
      padding-bottom: 280px;
    }

    .headingText {
      @include PrimaryFont;
      color: $darkBlue;
      font-weight: 900;
      font-size: 41px;
      line-height: 56px;

      @include laptopScreen {
        font-size: 36px;
        line-height: 56px;
      }

      @include miniLaptopScreen {
        font-size: 32px;
        line-height: 52px;
      }

      @include tabletScreen {
        max-width: 550px;
      }

      @include tabletScreen {
        font-size: 30px;
        line-height: 42px;
        margin: 0 auto;
      }

      @include miniTabletScreen {
        font-size: 26px;
        line-height: 40px;
      }

      @include mobileScreen {
        font-size: 22px;
        line-height: 31px;
      }
    }

    .analyticText {
      @include SecondaryFont;
      color: $darkBlue;
      font-weight: 400;
      font-size: 42px;
      line-height: 60px;
      margin-top: 17px;

      @include laptopScreen {
        font-size: 28px;
        line-height: 48px;
      }

      @include miniLaptopScreen {
        font-size: 20px;
        line-height: 32px;
      }

      @include mobileScreen {
        font-size: 18px;
        line-height: 24px;
      }
    }
  }

  .illustrationBox {
    position: absolute;
    bottom: -5px;

    @include tabletScreen {
      width: 990px;
      left: 50%;
      transform: translateX(-50%);
    }

    @include mobileScreen {
      width: 790px;
    }
  }
}
