@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.deleteAccountContainer {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 2rem;
    background-color: #052748;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .deleteAccountContainer h1 {
    font-size: 2.5rem;
    color: #88fb57;
    margin-bottom: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }
  
  .deleteAccountContainer p {
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fbfffa;
    line-height: 1.5;
  }
  
  .stepsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
  }
  
  .stepItem {
    flex-basis: calc(20% - 2rem);
    margin: 1rem;
    background-color: #02192f;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    text-align: center;
  }
  
  .stepItem h2 {
    margin: 0 0 1rem;
    font-size: 1.8rem;
    color: #88fb57;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }
  
  .stepItem p {
    margin: 0;
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fbfffa;
  }

  .stepsContainer .stepItem .image {
    border-radius: 33px 28px 33px 28px;
  }
  

  @media screen and (min-width: 768px) and (max-width: 1200px)  {
   
    .stepsContainer .stepItem .image {
      border-radius: 23px 23px 23px 23px;
    }
  }


@media screen and (max-width: 768px) {
  .stepsContainer {
    flex-direction: column;
  }

  .stepsContainer .stepItem .image {
    border-radius:  33px 28px 33px 28px;
  }

  .stepItem {
    flex-basis: auto;
    width: 80%;
    margin: 0 auto 1.5rem;
  }
}
