@import "../../../../styles/helpers.scss";

.eachFeature__wrapper {
  display: flex;
  justify-content: space-between;

  .contentCol {
    border-radius: 0px 0px 0px 48px;
    flex: 0.5;
    position: relative;
    z-index: 10;
    padding-bottom: 400px;
    padding-top: 200px;

    &.lightBlueBG {
      background: $lightBlue;
    }

    &.darkBlue {
      background: $darkBlue;
    }

    @include laptopScreen {
      padding-bottom: 300px;
    }

    @include miniLaptopScreen {
      padding-top: 175px;
      padding-bottom: 200px;
    }

    @include tabletScreen {
      flex: 0.5;
      padding-top: 120px;
      padding-bottom: 160px;
      border-radius: 0;
    }

    @include miniTabletScreen {
      flex: 1;
    }

    .contentBox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 47px;
      height: 100%;
      max-width: 515px;
      margin-left: 4.2vw;

      @include laptopScreen {
        max-width: 388px;
        row-gap: 30px;
      }

      @include miniLaptopScreen {
        max-width: 315px;
        row-gap: 20px;
      }

      @include tabletScreen {
        max-width: 250px;
        row-gap: 20px;
      }

      @include mobileScreen {
        max-width: 205px;
      }

      .featureName {
        @include PrimaryFont;
        color: $white-100;
        font-weight: 900;
        font-size: 48px;
        line-height: 73px;

        @include laptopScreen {
          font-size: 42px;
          line-height: 50px;
        }

        @include miniLaptopScreen {
          font-size: 36px;
          line-height: 50px;
        }

        @include tabletScreen {
          font-size: 30px;
          line-height: 44px;
          max-width: 250px;
        }

        @include mobileScreen {
          font-size: 28px;
          line-height: 40px;
        }
      }

      .featureDescription {
        @include SecondaryFont;
        color: $white-100;
        opacity: 0.8;
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 45px;

        @include laptopScreen {
          font-size: 22px;
          line-height: 30px;
        }

        @include miniLaptopScreen {
          font-size: 16px;
          line-height: 25px;
        }

        @include tabletScreen {
          font-size: 16px;
          line-height: 25px;
          text-align: justify;
          max-width: 240px;
        }

        @include mobileScreen {
          font-size: 14px;
          line-height: 22px;
        }
      }
    }
  }

  .imageCol {
    flex: 0.5;
    padding: 120px 0;
    position: relative;
    z-index: 10;

    @include miniLaptopScreen {
      padding: 0 0;
      display: flex;
      align-items: center;
    }

    @include miniTabletScreen {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    .imageBox {
      max-width: 44vw;
      width: 100%;
      transform: translateX(-55px);
      margin-left: auto;

      @include laptopScreen {
        max-width: 43vw;
      }

      @include tabletScreen {
        max-width: 45vw;
        transform: translateX(-25px);
      }

      @include miniTabletScreen {
        max-width: 350px;
        transform: translateX(100px);
      }

      @include mobileScreen {
        transform: translateX(200px);
      }
    }
  }

  &.flipSection {
    flex-direction: row-reverse;

    .contentCol {
      border-radius: 0px 48px 0px 0px;

      @include miniTabletScreen {
        border-radius: 0;
      }

      .contentBox {
        margin-right: 6.5vw;
        margin-left: auto;
        max-width: 465px;

        @include laptopScreen {
          max-width: 334px;
        }

        @include miniLaptopScreen {
          margin-right: 4.5vw;
        }

        @include tabletScreen {
          margin-right: 0;
          max-width: 275px;
        }

        @include mobileScreen {
          max-width: 245px;

          .featureDescription {
            max-width: 210px;
          }
        }
      }
    }

    .imageCol {
      @include miniTabletScreen {
        right: auto;
        left: 0;
      }

      .imageBox {
        transform: translateX(65px);
        margin-left: auto;

        @include miniLaptopScreen {
          transform: translateX(30px);
        }

        @include miniTabletScreen {
          transform: translateX(-105px);
        }

        @include mobileScreen {
          transform: translateX(-215px);
        }
      }
    }
  }
}
