@import "../../../styles//helpers.scss";

.footerSection__wrapper {
  background-color: #f1f8ff;
  position: relative;
  overflow: hidden;

  .dottedIllustration {
    position: absolute;
    top: -20px;
    left: -33px;
    max-width: 540px;
  }

  .footerSection__container {
    @include maxWidth;
    padding-top: 145px;
    padding-bottom: 95px;
    position: relative;

    @include laptopScreen {
      padding-top: 110px;
    }

    .dFlex {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      @include miniLaptopScreen {
        align-items: flex-start;
      }

      @include miniTabletScreen {
        flex-direction: column;
        row-gap: 55px;
      }

      @include mobileScreen {
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      .colOne {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include miniLaptopScreen {
          align-items: flex-start;
        }

        @include mobileScreen {
          align-items: center;
        }

        .logoBox {
          max-width: 559px;
          width: 100%;

          @include largeDisplayScreen {
            max-width: 450px;
          }

          @include laptopScreen {
            max-width: 300px;
            margin-bottom: -5px;
          }

          @include tabletScreen {
            max-width: 260px;
          }
        }

        .questionText {
          @include PrimaryFont;
          color: $darkBlue;
          font-size: 40px;
          line-height: 47px;
          opacity: 0.8;

          @include largeDisplayScreen {
            font-size: 34px;
          }

          @include laptopScreen {
            font-size: 26px;
          }

          @include tabletScreen {
            font-size: 24px;
          }
        }

        .helpingText {
          @include SecondaryFont;
          color: $darkBlue;
          font-size: 20px;
          opacity: 0.7;
          margin-top: 29px;
          letter-spacing: 0.03em;

          @include largeDisplayScreen {
            font-size: 18px;
          }

          @include laptopScreen {
            font-size: 14px;
            margin-top: 10px;
          }

          @include miniTabletScreen {
            margin-top: 10px;
          }

          .highlightedText {
            font-family: "Pacifico", cursive;
          }
        }

        .socialMediaPlatformsIcons {
          display: flex;
          justify-content: flex-end;
          column-gap: 8px;
          margin-top: 20px;

          @include miniTabletScreen {
            justify-content: flex-start;
          }

          .socialMediaPlatform__Image {
            width: 48px;
            height: 48px;
            background: $white-100;
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: center;

            @include laptopScreen {
              width: 40px;
              height: 40px;

              img {
                width: 75% !important;
              }
            }

            @include miniLaptopScreen {
              width: 38px;
              height: 38px;

              img {
                width: 70% !important;
              }
            }

            @include miniTabletScreen {
              width: 35px;
              height: 35px;

              img {
                width: 65% !important;
              }
            }
          }
        }
      }

      .colSecond {
        @include miniLaptopScreen {
          position: absolute;
          bottom: 105px;
          left: 0;
        }

        @include miniTabletScreen {
          position: relative;
          bottom: auto;
        }

        .linksBox {
          display: flex;
          flex-direction: column;
          row-gap: 43px;

          @include largeDisplayScreen {
            row-gap: 30px;
          }

          @include miniLaptopScreen {
            flex-direction: row;
            column-gap: 40px;
          }

          .linkText {
            @include SecondaryFont;
            color: $lightBlue;
            font-size: 30px;
            line-height: 35px;

            @include largeDisplayScreen {
              font-size: 28px;
              line-height: 30px;
            }

            @include laptopScreen {
              font-size: 22px;
              line-height: 20px;
            }

            @include miniLaptopScreen {
              font-size: 20px;
            }

            @include tabletScreen {
              font-size: 16px;
            }
          }
        }

        .copyright_Text {
          @include SecondaryFont;
          color: #9aa8b6;
          font-size: 20px;
          line-height: 23px;
          margin-top: 75px;

          @include largeDisplayScreen {
            font-size: 18px;
            margin-top: 55px;
          }

          @include laptopScreen {
            width: 200px;
            margin-top: 40px;
          }

          @include miniLaptopScreen {
            margin-top: 20px;
            font-size: 16px;
          }

          @include tabletScreen {
            font-size: 14px;
            margin-top: 14px;
          }

          @include mobileScreen {
            margin-left: auto;
            margin-right: auto;
          }
        }
      }

      .colthree {
        max-width: 466px;
        width: 100%;

        @include largeDisplayScreen {
          max-width: 400px;
        }

        @include laptopScreen {
          max-width: 370px;
        }

        @include tabletScreen {
          max-width: 300px;
        }

        .qrScanner__cardBox {
          background: $white-100;
          box-shadow: 0px 2px 14px rgba(11, 125, 230, 0.15);
          border-radius: 37px;

          .qrScanner__container {
            padding: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @include laptopScreen {
              padding: 35px;
            }

            @include tabletScreen {
              padding: 30px;
            }

            .downloadText {
              @include SecondaryFont;
              color: $darkBlue;
              font-weight: 400;
              font-size: 24px;
              line-height: 28px;

              @include tabletScreen {
                font-size: 20px;
              }
            }

            .qrCodeWrapper {
              width: 213px;
              margin-top: 22px;
            }

            .downloadButtons {
              margin-top: 40px;
              display: flex;
              column-gap: 15px;

              @include largeDisplayScreen {
                margin-top: 30px;
              }

              @include laptopScreen {
                margin-top: 25px;
              }

              @include miniLaptopScreen {
                margin-top: 35px;
              }

              .platformButtonBox {
                width: fit-content;

                @include largeDisplayScreen {
                  max-width: 185px;
                  width: 100%;

                  &:nth-child(2) {
                    max-width: 212px;
                  }
                }

                @include laptopScreen {
                  max-width: 134px;
                }

                @include tabletScreen {
                  max-width: 105px;

                  &:nth-child(2) {
                    max-width: 155px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
