@import "../../../styles/helpers.scss";

.button__wrapper {
  background: $white-100;
  color: $lightBlue;
  font-weight: 500;
  font-size: 24px;
  line-height: 73px;
  padding: 3px 20px;
  border: none;
  border-radius: 100px;
  cursor: pointer;

  @include largeDisplayScreen {
    font-size: 22px;
    padding: 0px 20px;
  }

  @include laptopScreen {
    line-height: 62px;
    font-size: 20px;
  }

  @include miniLaptopScreen {
    line-height: 56px;
    font-size: 18px;
  }

  @include tabletScreen {
    line-height: 45px;
    font-size: 14px;
  }

  @include miniTabletScreen {
    font-size: 16px;
  }
}
