@import "../../../styles/helpers.scss";

.heroSection__Wrapper {
  background: radial-gradient(
      70.75% 67.81% at 21.17% 25.29%,
      rgba(0, 125, 254, 0.2) 0%,
      rgba(3, 28, 53, 0.2) 57.29%,
      rgba(0, 0, 0, 0.2) 82.81%
    ),
    #03294f;
  position: relative;
  border-bottom: 30px solid $lightBlue;

  @include miniLaptopScreen {
    border-bottom-width: 15px;
  }

  .dottedIllustration__Image {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 545px;
    width: 100%;

    @include laptopScreen {
      max-width: 450px;
    }

    @include tabletScreen {
      max-width: 315px;
    }

    @include miniTabletScreen {
      max-width: 300px;
      transform: translateX(-115px);
      opacity: 0.7;
    }
  }

  .heroSection__Container {
    @include maxWidth;
    padding-top: 235px;
    padding-bottom: 55px;

    @include laptopScreen {
      padding-top: 180px;
    }

    @include tabletScreen {
      padding-top: 30vw;
    }

    @include miniTabletScreen {
      padding-top: 220px;
    }

    .contentWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 7.3vw;

      @include largeDisplayScreen {
        column-gap: 6.3vw;
      }

      @include miniLaptopScreen {
        column-gap: 5.3vw;
      }

      @include miniTabletScreen {
        flex-direction: column-reverse;
      }

      .imageBox {
        max-width: 50vw;
        width: 100%;

        @include largeDisplayScreen {
          max-width: 600px;
        }

        @include laptopScreen {
          max-width: 550px;
        }

        @include tabletScreen {
          max-width: 530px;
          width: 60.5vw;
          position: absolute;
          left: -140px;
        }

        @include miniTabletScreen {
          position: static;
          max-width: 450px;
          width: 100%;
          transform: translateX(-120px);
          margin-top: 80px;
        }
      }

      .textBox {
        max-width: 705px;
        width: 100%;

        @include largeDisplayScreen {
          max-width: 585px;
        }

        @include laptopScreen {
          max-width: 490px;
        }

        @include tabletScreen {
          max-width: 46vw;
          margin-left: auto;
          position: relative;
          z-index: 1;
        }

        @include miniTabletScreen {
          margin-right: auto;
          max-width: 440px;
          width: 100%;
          margin-left: 0;
        }

        .title {
          @include PrimaryFont;
          color: $green;
          font-weight: 900;
          font-size: 54px;
          line-height: 73px;

          @include largeDisplayScreen {
            font-size: 50px;
          }

          @include laptopScreen {
            font-size: 48px;
          }

          @include miniLaptopScreen {
            font-size: 40px;
          }

          @include tabletScreen {
            font-size: 4.8vw;
          }

          @include miniTabletScreen {
            font-size: 42px;
          }

          @include mobileScreen {
            font-size: 36px;
          }
        }

        .paragraph {
          @include SecondaryFont;
          color: $white-100;
          opacity: 0.7;
          font-style: normal;
          font-weight: 400;
          font-size: 30px;
          line-height: 45px;
          margin-top: 35px;

          @include largeDisplayScreen {
            font-size: 24px;
            line-height: 36px;
            margin-top: 28px;
          }

          @include laptopScreen {
            font-size: 20px;
            line-height: 30px;
            margin-top: 20px;
          }

          @include miniLaptopScreen {
            font-size: 18px;
            line-height: 28px;
            margin-top: 14px;
          }

          @include tabletScreen {
            font-size: 2.2vw;
            line-height: 24px;
            margin-top: 1.2vw;
          }

          @include miniTabletScreen {
            font-size: 18px;
            line-height: 28px;
          }

          @include mobileScreen {
            font-size: 16px;
            line-height: 25px;
          }
        }

        .downloadButtons {
          margin-top: 60px;
          display: flex;
          column-gap: 15px;

          @include largeDisplayScreen {
            margin-top: 53px;
          }

          @include laptopScreen {
            margin-top: 40px;
          }

          @include miniLaptopScreen {
            margin-top: 35px;
          }

          .platformButtonBox {
            width: fit-content;

            @include largeDisplayScreen {
              max-width: 185px;
              width: 100%;

              &:nth-child(2) {
                max-width: 212px;
              }
            }

            @include laptopScreen {
              max-width: 155px;

              &:nth-child(2) {
                max-width: 178px;
              }
            }

            @include miniLaptopScreen {
              max-width: 135px;

              &:nth-child(2) {
                max-width: 155px;
              }
            }
          }
        }
      }
    }

    .featuresWrapper {
      width: 100%;
      padding-top: 95px;
      padding-bottom: 55px;

      @include tabletScreen {
        padding-top: 25vw;
      }

      @include mobileScreen {
        padding-top: 120px;
      }

      .container {
        display: flex;
        justify-content: space-between;
        column-gap: 60px;
        position: relative;

        @include largeDisplayScreen {
          column-gap: 33px;
        }

        @include laptopScreen {
          flex-wrap: wrap;
          row-gap: 50px;
          max-width: 705px;
          margin: 0 auto;

          &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background: #142d45;
            width: 2px;

            @include miniTabletScreen {
              display: none;
            }
          }
        }

        @include miniLaptopScreen {
          max-width: 645px;
          row-gap: 60px;
        }

        @include tabletScreen {
          max-width: 590px;
          row-gap: 60px;
        }

        @include miniTabletScreen {
          max-width: 100%;
        }

        @include mobileScreen {
          max-width: 400px;
          row-gap: 50px;
        }

        @include smallMobileScreen {
          justify-content: center;
          align-items: center;
          text-align: center;
        }

        .box {
          max-width: 325px;
          width: 100%;

          @include miniLaptopScreen {
            max-width: 290px;
          }

          @include tabletScreen {
            max-width: 262px;
          }

          @include miniTabletScreen {
            max-width: 162px;
            width: 100%;
          }
        }
      }
    }
  }
}
