@import "../../../styles/helpers.scss";

.aboutGolferCommunitySection__wrapper {
  background: #f1f8ff;
  position: relative;
  padding-top: 90px;

  @include tabletScreen {
    overflow: hidden;
  }

  .cloudsIllustrations {
    position: absolute;
    top: 0;
  }

  .aboutGolferCommunitySection__container {
    @include maxWidth;
    position: relative;
    z-index: 1;

    .timmerWrapper {
      background: $white-100;
      border-radius: 24px;
      padding: 40px 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include laptopScreen {
        flex-direction: column;
        row-gap: 38px;
      }

      @include mobileScreen {
        padding: 45px 22px;
      }

      .contentBox {
        max-width: 560px;
        display: flex;
        align-items: center;
        column-gap: 20px;

        @include laptopScreen {
          max-width: 500px;
        }

        @include tabletScreen {
          max-width: 455px;
        }

        @include mobileScreen {
          column-gap: 15px;
          align-items: flex-start;
        }

        .fire {
          max-width: 69px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          @include miniTabletScreen {
            max-width: 45px;
          }

          @include mobileScreen {
            margin-top: 15px;
          }
        }

        .text {
          @include PrimaryFont;
          color: $darkBlue;
          font-weight: 900;
          font-size: 38px;
          line-height: 44px;

          @include tabletScreen {
            font-size: 34px;
            line-height: 43px;
          }

          @include miniTabletScreen {
            font-size: 30px;
            line-height: 42px;
          }

          @include mobileScreen {
            font-size: 28px;
            line-height: 38px;
          }
        }
      }

      .timmerBox {
        display: flex;
        align-items: flex-end;
        column-gap: 1.5vw;

        .timeBox {
          @include PrimaryFont;
          background: linear-gradient(
              0deg,
              rgba(255, 255, 255, 0.85),
              rgba(255, 255, 255, 0.85)
            ),
            #5efc18;
          border-radius: 12px;
          color: $darkBlue;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 500;
          font-size: 2.5vw;
          line-height: 73px;
          //   width: 6.1vw;
          //   height: 7vw;
          width: 5.9vw;
          height: 6.6vw;

          @include laptopScreen {
            width: 70px;
            height: 80px;
            font-size: 28px;
          }

          @include tabletScreen {
            width: 65px;
            height: 70px;
            font-size: 24px;
          }

          @include miniTabletScreen {
            width: 58px;
            height: 62px;
            font-size: 22px;
          }

          @include mobileScreen {
            width: 44px;
            height: 48px;
            font-size: 20px;
          }
        }

        .comma {
          @include PrimaryFont;
          font-weight: 500;
          font-size: 54px;
          line-height: 73px;

          @include tabletScreen {
            font-size: 35px;
            line-height: 50px;
          }
        }
      }
    }

    .dFlex {
      display: flex;
      column-gap: 175px;
      justify-content: space-between;
      padding-top: 150px;
      padding-bottom: 440px;

      @include laptopScreen {
        column-gap: 50px;
        padding-bottom: 230px;
      }

      @include tabletScreen {
        position: relative;
      }

      @include miniTabletScreen {
        padding-top: 80px;
      }

      .imageBox {
        max-width: 930px;
        width: 100%;

        @include miniLaptopScreen {
          max-width: 440px;
        }

        @include tabletScreen {
          position: absolute;
          top: 50%;
          left: -160px;
          transform: translateY(-50%);
          max-width: 420px;
        }

        @include miniTabletScreen {
          display: none;
        }
      }

      .contentBox {
        max-width: 685px;

        @include laptopScreen {
          max-width: 530px;
        }

        @include miniLaptopScreen {
          max-width: 400px;
        }

        @include tabletScreen {
          max-width: 360px;
          margin-left: auto;
        }

        @include miniTabletScreen {
          max-width: 430px;
          margin-right: auto;
          margin-left: 0;
        }

        .headingText {
          @include PrimaryFont;
          color: $darkBlue;
          font-size: 48px;
          font-weight: 900;
          line-height: 63px;
          margin-bottom: 30px;

          @include laptopScreen {
            font-size: 46px;
          }

          @include miniLaptopScreen {
            font-size: 40px;
            line-height: 56px;
            margin-bottom: 20px;
          }

          @include tabletScreen {
            font-size: 33px;
            line-height: 48px;
            margin-bottom: 18px;
          }
        }

        .descriptionText {
          @include SecondaryFont;
          color: $darkBlue;
          font-weight: 400;
          font-size: 26px;
          line-height: 45px;
          opacity: 0.8;

          &:nth-child(3),
          &:nth-child(4) {
            margin-top: 36px;

            @include laptopScreen {
              margin-top: 24px;
            }

            @include miniLaptopScreen {
              margin-top: 20px;
            }
          }

          @include laptopScreen {
            font-size: 24px;
            line-height: 34px;
          }

          @include miniLaptopScreen {
            font-size: 20px;
            line-height: 30px;
          }

          @include tabletScreen {
            font-size: 18px;
            line-height: 28px;
          }

          @include mobileScreen {
            font-size: 16px;
            line-height: 26px;
          }
        }
      }
    }
  }

  .aboutGolfCommunity__Illustration {
    position: absolute;
    bottom: -5px;

    @include tabletScreen {
      width: 870px;
    }

    @include miniTabletScreen {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
