@import "../../../styles/helpers.scss";

.downloadAppSection__Wrapper {
  background: radial-gradient(
      70.65% 80.76% at 44.79% 12.34%,
      rgba(0, 125, 254, 0.2) 0%,
      rgba(3, 28, 53, 0.2) 57.29%,
      rgba(0, 0, 0, 0.2) 82.81%
    )
    #03294f;
  position: relative;
  overflow: hidden;
  border-bottom: 30px solid $lightBlue;

  @include miniLaptopScreen {
    border-bottom-width: 15px;
  }

  @include tabletScreen {
    overflow: hidden;
  }

  .firstDottedImage {
    max-width: 565px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0px;

    @include laptopScreen {
      max-width: 400px;
    }

    @include miniLaptopScreen {
      max-width: 380px;
    }

    @include tabletScreen {
      max-width: 250px;
      opacity: 0.8;
    }

    @include miniTabletScreen {
      opacity: 1;
      top: 60px;
      left: -75px;
    }
  }

  .secondDottedImage {
    max-width: 700px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;

    @include laptopScreen {
      max-width: 545px;
    }

    @include miniLaptopScreen {
      max-width: 500px;
    }

    @include tabletScreen {
      max-width: 350px;
      opacity: 0.8;
      right: -100px;
    }

    @include miniTabletScreen {
      opacity: 1;
      right: -160px;
      top: -75px;
    }
  }

  .downloadAppSection__container {
    max-width: 1075px;
    width: 100%;
    margin: 0 auto;
    padding-top: 95px;
    padding-bottom: 605px;
    text-align: center;
    position: relative;
    z-index: 1;

    @include largeDisplayScreen {
      padding-top: 155px;
      padding-bottom: 495px;
    }

    @include laptopScreen {
      max-width: 900px;
      padding-top: 125px;
      padding-bottom: 500px;
    }

    @include miniLaptopScreen {
      max-width: 800px;
      padding-top: 120px;
      padding-bottom: 350px;
    }

    @include tabletScreen {
      padding-top: 100px;
      padding-bottom: 370px;
    }

    @include miniTabletScreen {
      max-width: 480px;
      padding-bottom: 340px;
    }

    @include mobileScreen {
      max-width: 355px;
      padding-bottom: 280px;
    }

    .headingText {
      @include PrimaryFont;
      color: $green;
      font-weight: 900;
      font-size: 54px;
      line-height: 56px;

      @include largeDisplayScreen {
        font-size: 48px;
      }

      @include laptopScreen {
        font-size: 42px;
        line-height: 32px;
      }

      @include miniLaptopScreen {
        font-size: 40px;
        line-height: 40px;
      }

      @include tabletScreen {
        font-size: 34px;
      }

      @include miniTabletScreen {
        font-size: 32px;
      }

      @include mobileScreen {
        font-size: 27px;
        line-height: 31px;
      }
    }

    .taglineText {
      @include SecondaryFont;
      color: #f1f8ff;
      font-weight: 400;
      font-size: 42px;
      line-height: 60px;
      margin-top: 20px;

      @include largeDisplayScreen {
        font-size: 34px;
        margin-top: 30px;
      }

      @include laptopScreen {
        font-size: 30px;
        line-height: 50px;
      }

      @include miniLaptopScreen {
        font-size: 24px;
        line-height: 32px;
      }

      @include tabletScreen {
        font-size: 20px;
        line-height: 16px;
      }

      @include miniTabletScreen {
        font-size: 18px;
        line-height: 22px;
        margin-top: 22px;
      }

      @include mobileScreen {
        font-size: 16px;
        line-height: 24px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .illustrationBox {
    position: absolute;
    bottom: -40px;

    @include tabletScreen {
      width: 990px;
      left: 50%;
      transform: translateX(-50%);
    }

    @include miniTabletScreen {
      bottom: -10px;
    }

    @include miniTabletScreen {
      width: 790px;
    }

    @include mobileScreen {
      width: 690px;
      left: 48%;
    }
  }
}
